<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="h-screen antialiased bg-gray-200">
      <h1>{{name}}</h1>
      <div class="rounded bg-white shadow-xl px-12 py-3 mx-8 w-full">
        <p class="text-orange-500">
          Note that while the CDN build is large (27kb compressed, 348kb raw), it's not representative of the sizes you see when including Tailwind as
          part of your build process. Sites that follow our best practices are almost always under 10kb compressed. For example, Firefox Send is built
          with Tailwind and their CSS is under 4kb compressed and minified. ON THIS PAGE Install Tailwind via npm Add Tailwind to your CSS Create your
          Tailwind config file Process your CSS with Tailwind Using Tailwind with PostCSS Using Tailwind CLI Build Tool Examples Using Tailwind via
          CDN Tailwind UI Beautiful UI components by the creators of Tailwind CSS.
        </p>
        <button class="mt-4 bg-teal-300 text-teal-700 rounded px-3 py-2">Move</button>
      </div>
    </div>
  </body>
</html>
